doctype html
html(lang='en')
  head
    title Jade
  body
    header(class="header")
      p |this is header
    h1 Page elements
    input(type="text", class="datepicker-here", id="air_datepicker", data-position="bottom left")
    button click me
      span(class="ui-icon ui-icon-gear")
    //form elements
    //cards
    //header&footer
    nav(class="standart_nav_bar")
    nav(class="standard_logged_in_nav_bar")
    div(class="logo")
    div(class="group")
    div(class="group_2")
    footer(class="footer_widgets_and_copyright_bar")
    footer(class="footer_creative").
      footerrr is footer
    div(class="copyright_bar")
    
    //header&footer