doctype html
html(lang='en')
  head
    title Jade
  body
    header(class="header")
      p |this is header
    h1 Page elements
    
    input(type="text", name="date" id="datepicker")
    button click me
      span(class="ui-icon ui-icon-gear")
    //form elements
    //cards
    //header&footer
    div(class="standart_nav_bar")
    div(class="standard_logged_in_nav_bar")
    div(class="logo")
    div(class="group")
    div(class="group_2")
    div(class="footer_widgets")
    div(class="copyright_bar")
    footer(class="footer_creative").
      footerrr is footer
    //header&footer