doctype html
html(lang='en')
  head
    title Jade
  body
    h1 Jade - node template engine
    #container.col
      p(id="foo") You are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performancej
        | and powerful features.
    
    input(type="text", name="date" id="datepicker")
    button click me
      span(class="ui-icon ui-icon-gear")
    