// Main color
$dark-share-100              :#1f2041;
$dark-shade-75               :#1F2041;
$dark-shade-50               :#1F2041;
$dark-shade-25               :#1F2041;
$dark-shade-5                :#1F2041;
$purple-color                :#BC9CFF;
$dreen-color                 :#6FCF97;
$background-color            :#FFFFFF;